{% extends "base_normalpage.html" %}
{% load static %}

{% block content %}
    <h1>Cards</h1>
    <div class="container">
        
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>
    
        <div class="row imagetiles">
            {% for card in object_list %}
                <div class="imagetimes-img col-lg-2 col-md-3 col-sm-4 col-xs-5">
                    <img src="{{ card.img_url }}" class="img-responsive">
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}